  <div>
  <p>
    <%= comment.content %>
  </p>

  <p class="blue">
     <i><small><%= comment.user.username %></small></i>
  </p>

  <p  class="hidden">
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

</div>
<hr/>