<div class="alert alert-info alert-dismissible fade show" role="alert" style="max-width: 60rem;">
  <p style="color: green"><%= notice %></p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

