<div class="wrapper">
        
        <div class="sidebar">

            
            
            
              
              <ul>
                <li>
                <a href="/quotation_trackings"><i class=" fa fa-fw fa-home"></i>Quotation Trackings</a>
                </li>

                <li>
                  <a href="/sites"><i class=" fa fa-fw fa-file"></i>Sites</a>
                </li>

                <li>
                    <a href="/payments"><i class=" fa fa-fw fa-money"></i>Payments</a>
                </li>

		          
                <li class='sub-menu'>
                    <a href="#personal"><i class=" fa fa-fw fa-heart"></i>Personal<div class='fa fa-caret-down right'></div></a>
                </li>

                <li>
			              <ul>
				              <li><i class=" fa fa-fw fa-car"></i><a href='/loans'>Loans</a></li>
				              <li><i class=" fa fa-fw fa-bars"></i><a href='/loan_repayments'>Loan Servicing</a></li>
				              <li><i class=" fa fa-fw fa-train"></i><a href='/tasks'>Tasks</a></li>
			              	<li><i class=" fa fa-fw fa-key"></i><a href='/todo_lists'>Todo List</a></li>
			              </ul>
                </li>

                <li>
                    <a href="/loans/sortable"><i class=" fa fa-fw fa-bars"></i>Sortable List</a>
                </li>

              </ul>            
        </div>     
</div>
     
    