<div>
  <h1>Posts</h1> 
  <%= link_to "New post", new_post_path, class:"btn btn-outline-success btn-sm" %>
</div><br/>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Read More...", post, class:"btn btn-outline-primary btn-sm" %>
    </p>
  <% end %>
</div>


