<div>
  <h1></h1> 
  <%= link_to "New post", new_post_path, class:"btn btn-outline-success btn-sm" %>
   <hr>
</div><br/>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
   
    <div>
      <%= link_to "Read More...", post, class:"btn btn-outline-primary btn-sm" %>
    </div>
    <div>
      <%= pluralize(post.comments.count, 'Comment') %>
       <hr>
      <% end %>
    </div>
    
</div>



