.wrapper .sidebar{
    background: rgb(225, 229, 230);
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar a{
    color: black;
    text-decoration: none;
}

.wrapper .sidebar i{
    font-size: 20px;
    color: rgba(253, 251, 251, 0.884);
}

.wrapper .sidebar i:hover{
    color: white
}

/* sidebar profile image */
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: white;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(27, 5, 124);
    font-size: 15px;

}

/* sidebar design and colors to the menu items */
.wrapper .sidebar ul li {
    display: block;
    padding: 13px 0;
    color: rgba(253, 251, 251, 0.705);
    font-size: 16px;
    position: relative;
}

/* Change background on mouse-over */
.wrapper .sidebar ul li a:hover{
    color: rgb(109, 95, 95);
}

/* sub-menu */
.wrapper .sidebar .sub-menu ul li a {
/*  padding: 10px 15px;                  */
	color: rgba(253, 251, 251, 0.705);
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
/*  display: none;         */
}

.wrapper .sidebar .sub-menu ul li a:hover {
	color: #fff;
}

.wrapper .sidebar .sub-menu ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
    
}

.wrapper .sidebar .sub-menu ul li i {
    font-size: 20px;
/*  display: none;      */
}
